body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  background-color: rgb(9, 94, 75);
  padding: 10px;
}
.grid-item {
  background-color: rgb(79, 226, 145);
  border: 1px solid black;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

input[type="text"],
select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(2, 30, 41);
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  width: 20%;
  background-color: rgb(8, 66, 37);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
